
*.vsidx
*.vsidx
Vinozito/.vs/Vinozito/FileContentIndex/18050df7-db2d-4dcc-9859-6cc5911e1d1e.vsidx
Vinozito/.vs/Vinozito/FileContentIndex/350ba12c-c14c-4033-acf1-c72131738971.vsidx
Vinozito/.vs/Vinozito/FileContentIndex/4bc09cb7-7d5c-4922-86f3-111b6db588ad.vsidx
Vinozito/.vs/Vinozito/FileContentIndex/8ef0bda8-43a9-4474-82fe-c03b7fde9669.vsidx
